In [4]:
import pandas as pd

In [3]:
import numpy as np

In [5]:
import datetime

In [16]:
card_data = pd.read_csv('D:/Evarcity/R-Programming/card.txt', sep=",")

In [96]:
card_data.head(5)

,id,dist_latest_transaction_address_km,email,application_date,site_visits_A,site_visits_B,site_visits_C,credit_limit,number_of_transactions,is_fraud
0,0,2.0,djellybrande2@yolasite.com,2019-03-17 03:57:12.247891,0.0,0.0,0.0,"$1,032.00",23.0,0.0
1,1,4.0,vbohlerkx@soundcloud.com,2019-02-02 13:28:13.611142,8.0,1.0,1.0,"$1,601.50",25.0,0.0
2,2,4.0,aocurraneba@discuz.net,2019-03-23 20:40:31.035168,7.0,1.0,1.0,"$1,293.69",25.0,0.0
3,3,1.0,ojane18@tuttocitta.it,2019-02-08 18:39:17.996564,4.0,0.0,0.0,"$1,007.86",19.0,0.0
4,4,1.0,wdemeadc@alexa.com,2019-02-08 15:53:42.666945,28.0,1.0,1.0,"$1,027.03",17.0,0.0

In [ ]:
# Step 1: check data type: if date column is not in date format change it to date foramt
# Step: Day, month, year, Time, Weekend, Holiday

In [11]:
## Convert the date and time

card_data['application_date'] = pd.to_datetime(card_data['application_date'], errors='coerce')

In [9]:
card_data['application_date']=pd.to_datetime(card_data.application_date, format='%m/%d/%Y %H:%M')

In [12]:
## Split the data into year, month, day, hour, minute and seconds

card_data[['year','month','day','hour']] = card_data['application_date'].apply(lambda x:pd.Series({'year':x.year,'month':x.month,'day':x.day,'hour':x.hour}))

In [13]:
card_data

,id,dist_latest_transaction_address_km,email,application_date,site_visits_A,site_visits_B,site_visits_C,credit_limit,number_of_transactions,is_fraud,year,month,day,hour
0,0,2.0,djellybrande2@yolasite.com,2019-03-17 03:57:12.247891,0.0,0.0,0.0,"$1,032.00",23.0,0.0,2019.0,3.0,17.0,3.0
1,1,4.0,vbohlerkx@soundcloud.com,2019-02-02 13:28:13.611142,8.0,1.0,1.0,"$1,601.50",25.0,0.0,2019.0,2.0,2.0,13.0
2,2,4.0,aocurraneba@discuz.net,2019-03-23 20:40:31.035168,7.0,1.0,1.0,"$1,293.69",25.0,0.0,2019.0,3.0,23.0,20.0
3,3,1.0,ojane18@tuttocitta.it,2019-02-08 18:39:17.996564,4.0,0.0,0.0,"$1,007.86",19.0,0.0,2019.0,2.0,8.0,18.0
4,4,1.0,wdemeadc@alexa.com,2019-02-08 15:53:42.666945,28.0,1.0,1.0,"$1,027.03",17.0,0.0,2019.0,2.0,8.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,19995,3.0,kgoundry7t@amazon.co.jp,2019-03-01 17:48:27.537993,2.0,0.0,0.0,"$1,220.95",16.0,0.0,2019.0,3.0,1.0,17.0
19995,19996,0.0,cdemannc2@sbwire.com,2019-03-26 09:03:48.642457,1.0,1.0,1.0,"$2,131.13",17.0,0.0,2019.0,3.0,26.0,9.0
19996,19997,6.0,ndonin6@yolasite.com,2019-03-02 04:24:00.168469,1.0,1.0,1.0,"$1,139.94",29.0,0.0,2019.0,3.0,2.0,4.0
19997,19998,10.0,cbarlass4m@alexa.com,2019-03-07 00:59:54.422756,4.0,1.0,1.0,"$1,148.36",22.0,0.0,2019.0,3.0,7.0,0.0
19998,19999,10.0,gjozwiakab@themeforest.net,2019-02-18 23:08:35.315853,1.0,1.0,1.0,"$1,680.73",19.0,0.0,2019.0,2.0,18.0,23.0

In [87]:
## Divide the data based on morning and evening time 
card_data['TimePeriod'] = pd.cut(card_data['hour'], bins=[-1,12,24], labels=['morning','evening'])

In [88]:
card_data

,id,dist_latest_transaction_address_km,email,application_date,site_visits_A,site_visits_B,site_visits_C,credit_limit,number_of_transactions,is_fraud,year,month,day,hour,TimePeriod
0,0,2.0,djellybrande2@yolasite.com,2019-03-17 03:57:12.247891,0.0,0.0,0.0,"$1,032.00",23.0,0.0,2019.0,3.0,17.0,3.0,morning
1,1,4.0,vbohlerkx@soundcloud.com,2019-02-02 13:28:13.611142,8.0,1.0,1.0,"$1,601.50",25.0,0.0,2019.0,2.0,2.0,13.0,evening
2,2,4.0,aocurraneba@discuz.net,2019-03-23 20:40:31.035168,7.0,1.0,1.0,"$1,293.69",25.0,0.0,2019.0,3.0,23.0,20.0,evening
3,3,1.0,ojane18@tuttocitta.it,2019-02-08 18:39:17.996564,4.0,0.0,0.0,"$1,007.86",19.0,0.0,2019.0,2.0,8.0,18.0,evening
4,4,1.0,wdemeadc@alexa.com,2019-02-08 15:53:42.666945,28.0,1.0,1.0,"$1,027.03",17.0,0.0,2019.0,2.0,8.0,15.0,evening
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,19995,3.0,kgoundry7t@amazon.co.jp,2019-03-01 17:48:27.537993,2.0,0.0,0.0,"$1,220.95",16.0,0.0,2019.0,3.0,1.0,17.0,evening
19995,19996,0.0,cdemannc2@sbwire.com,2019-03-26 09:03:48.642457,1.0,1.0,1.0,"$2,131.13",17.0,0.0,2019.0,3.0,26.0,9.0,morning
19996,19997,6.0,ndonin6@yolasite.com,2019-03-02 04:24:00.168469,1.0,1.0,1.0,"$1,139.94",29.0,0.0,2019.0,3.0,2.0,4.0,morning
19997,19998,10.0,cbarlass4m@alexa.com,2019-03-07 00:59:54.422756,4.0,1.0,1.0,"$1,148.36",22.0,0.0,2019.0,3.0,7.0,0.0,morning
19998,19999,10.0,gjozwiakab@themeforest.net,2019-02-18 23:08:35.315853,1.0,1.0,1.0,"$1,680.73",19.0,0.0,2019.0,2.0,18.0,23.0,evening

In [26]:
card_data["application.date"] = pd.to_datetime(card_data["application_date"], errors = 'coerce')

In [19]:
card_data.head()

,id,dist_latest_transaction_address_km,email,application_date,site_visits_A,site_visits_B,site_visits_C,credit_limit,number_of_transactions,is_fraud,application.date
0,0,2.0,djellybrande2@yolasite.com,2019-03-17 03:57:12.247891,0.0,0.0,0.0,"$1,032.00",23.0,0.0,2019-03-17 03:57:12.247891
1,1,4.0,vbohlerkx@soundcloud.com,2019-02-02 13:28:13.611142,8.0,1.0,1.0,"$1,601.50",25.0,0.0,2019-02-02 13:28:13.611142
2,2,4.0,aocurraneba@discuz.net,2019-03-23 20:40:31.035168,7.0,1.0,1.0,"$1,293.69",25.0,0.0,2019-03-23 20:40:31.035168
3,3,1.0,ojane18@tuttocitta.it,2019-02-08 18:39:17.996564,4.0,0.0,0.0,"$1,007.86",19.0,0.0,2019-02-08 18:39:17.996564
4,4,1.0,wdemeadc@alexa.com,2019-02-08 15:53:42.666945,28.0,1.0,1.0,"$1,027.03",17.0,0.0,2019-02-08 15:53:42.666945