In [30]:
import pandas as pd

In [31]:
import numpy as np

In [32]:
telecom_data = pd.read_csv('D:/Evarcity/R-Programming/Telecom_Data.csv')

In [33]:
telecom_data.head(10)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,AL,118,510,391-8027,yes,no,0,223.4,98,37.98,...,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,MA,121,510,355-9993,no,yes,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,MO,147,415,329-9001,yes,no,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,LA,117,408,335-4719,no,no,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,WV,141,415,330-8173,yes,yes,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False

In [34]:
## Finding missing values

telecom_data.isnull().any()

state                     False
account length            False
area code                 False
phone number              False
international plan        False
voice mail plan           False
number vmail messages     False
total day minutes         False
total day calls           False
total day charge          False
total eve minutes         False
total eve calls           False
total eve charge          False
total night minutes       False
total night calls         False
total night charge        False
total intl minutes        False
total intl calls          False
total intl charge         False
customer service calls    False
churn                     False
dtype: bool

In [35]:
## Percentage of Trur and False values in Chun column
telecom_data.churn.value_counts()/len(telecom_data.churn)*100

False    85.508551
True     14.491449
Name: churn, dtype: float64

In [36]:
## To convert depedent variable to numeric
## telecom_data['churn'] = np.where(telecom_data.churn == 'True',1,0)

In [37]:
## Drop the column
telecom_data.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [38]:
## Drop the column
telecom = telecom_data.drop('phone number', axis = 1)

In [39]:
telecom.head(5)

,state,account length,area code,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,no,yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [40]:
## Step1: get all indepedent vatriable as 'x'

x = telecom.drop('churn', axis=1)

In [41]:
## Step 3: non numeric column to numeric using 'one_hot_encoding' or 'Lable encoder'

x = pd.get_dummies(x, dtype ='int')

In [42]:
## Step4: if depedent variable is non numeric then convert it into numeric without one_hot_encoding/label encoder
telecom.churn = telecom.churn.replace({True: 1, False: 0})
telecom.churn.value_counts()

0    2850
1     483
Name: churn, dtype: int64

In [43]:
## Step2: get depedent variable as 'y'

y = telecom['churn']

In [44]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: churn, dtype: int64

In [45]:
## Step5: Divide the datainto train_test set
from sklearn.model_selection import train_test_split

In [46]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

In [47]:
## Step6: Develop logistic regression model

from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [48]:
## Step7: fit the model between xtrain and ytrain
model.fit(xtrain, ytrain)

C:\Users\Rajz\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [49]:
## Step8: Apply to model into xtest set

predicted_value = model.predict(xtest)

In [50]:
#### Validation to xtest and ytest using confusion matrix
import sklearn.metrics as metrics

In [51]:
confusion_matrix = metrics.confusion_matrix(ytest, predicted_value)
print(confusion_matrix)

[[566   9]
 [ 88   4]]

In [52]:
## Calculate Precison. we used po

from sklearn.metrics import precision_score
precision = precision_score(ytest, predicted_value, pos_label=1)
print(precision)

0.3076923076923077

In [53]:
## Calcualte Recall/Sensitivity

from sklearn.metrics import recall_score
recall_score = recall_score(ytest, predicted_value, pos_label=1)
print(recall_score)

0.043478260869565216

In [54]:
## Calculate F1_Score

from sklearn.metrics import f1_score
f1_score = f1_score(ytest, predicted_value, pos_label=1)
print(f1_score)

0.0761904761904762

In [55]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\rajz\anaconda3\lib\site-packages (0.12.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn) (1.22.4)
Note: you may need to restart the kernel to use updated packages.

In [56]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\rajz\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\rajz\anaconda3\lib\site-packages (from imblearn) (0.12.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rajz\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
import imblearn

In [66]:
## Undersampling 

from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=0)
x_un_train, y_un_train = rus.fit_resample(xtrain, ytrain)

In [68]:
## Check the distribution of 0 and 1
y_un_train.value_counts()

0    391
1    391
Name: churn, dtype: int64

In [64]:
##Oversampling

from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=0)
x_ov_train, y_ov_train = ros.fit_resample(xtrain, ytrain)

In [69]:
## Check the distribution of 0 and 1
y_ov_train.value_counts()

1    2275
0    2275
Name: churn, dtype: int64

In [65]:
##SMOTE 

from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=0)
x_sm_train, y_sm_train = sm.fit_resample(x, y)

In [70]:
## Check the distribution of 0 and 1
y_sm_train.value_counts()

0    2850
1    2850
Name: churn, dtype: int64

In [71]:
## Logistc Regression
model.fit(x_sm_train, y_sm_train)

C:\Users\Rajz\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [73]:
predicted_value = model.predict(xtest)

In [80]:
## Recall

from sklearn.metrics import recall_score
recall_score = recall_score(ytest, predicted_value, pos_label=1)
print(recall_score)

0.75

In [81]:
## Calculate Precison. we used po

from sklearn.metrics import precision_score
precision = precision_score(ytest, predicted_value, pos_label=1)
print(precision)

0.31221719457013575

In [82]:
## Calculate F1_Score

from sklearn.metrics import f1_score
f1_score = f1_score(ytest, predicted_value, pos_label=1)
print(f1_score)

0.44089456869009586